body{
    background-color: black;
    font-size: 16px;
    font-family: 'Lucida Sans';
    color: white;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: inherit;
    text-decoration: inherit;
}
/*.wrapper {
    padding: 10px;
}*/

/* HEADER AREA */
.logo{
    margin: 0;
    color:rgb(215, 142, 8);
    font-weight: 800;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
}
header{
    padding: 0;
}
.nxt{
    margin: 5px;
}
.nxt:hover{
    text-decoration: underline;
}

.alert{
    padding: 10px;
}
h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(215, 142, 8);
}
h5{
    font-size: x-large;
}

/* HEADER AREA */

/* SECTION AREA */

.movie-link{
   /* border: 1px solid whitesmoke;
    padding: 10px;*/
    min-height: fit-content;
    min-width: fit-content;
    margin-right: 10px;
    
}

.movie-section{
    display: flex;
    overflow-y:hidden;
    overflow-x: scroll;
    padding: 20px;
}

.movie-thumbnail{
    border: 1px solid whitesmoke;
    object-fit: fill;
    width: 100%;
    transition: transform 450ms;
    max-height: 100%;
}


.movie-section::-webkit-scrollbar{
    display: none;
}
.movie-section{
    -ms-overflow-style: none;  /*IE and Edge */ 
    scrollbar-width: none;  /*Firefox */ 
 } 
.movie-thumbnail:hover{
    transform: scale(1.08);
}
.movie-thumbnail:active{
    transform: scale(1.08);
}

.seemore{
    color: rgb(215, 142, 8);
    text-decoration: underline;
}
.seemore :hover{
    color: #d78e08;
    text-decoration: underline;
}


/* SECTION AREA */

/* FOOTER AREA*/

footer a{
    text-decoration: underline;
}
footer a:hover{
    text-decoration: underline;
    color: rgb(215, 142, 8);
}

/* FOOTER AREA*/

@media only screen and ( min-width: 768px ){
    .nav-form{
        right: 0;
        position: absolute;
    }
}